
api_keys.py
asset
avatars/*
/backgrounds/*
!/backgrounds/README.md
*.bak
# but all of the defaults are already tracked, so no need to un-ignore them
cache/*
# Cache and models
/characters/*
!/characters/README.md
chat_history/
.conda
conda
# conf.yaml tracked in fork
conf.yaml.backup
# Database files
.DS_Store
.env
*.exe
.idea
# ignore avatars
# ignore non-default background images
# ignore non-default character configs
# ignore non-default live2d models
# ignore the user configuration file
knowledge_base/
lab.py
legacy/
# Legacy and specific directories
/live2d-models/*
!/live2d-models/mao_pro
!/live2d-models/shizuku
logs/*
# Logs
# macOS system files
mcp_servers.json
mem.json
memory.db
memory.db.bk
# memory log
models/*
!models/piper_voice
models/piper_voice/*
openapi_assistants.json
openapi_memgpt.json
Open-LLM-VTuber-Web/
private/
*.pyc
__pycache__/
# Python files
# Sensitive data
server.log
src/open_llm_vtuber/asr/models*
!src/open_llm_vtuber/asr/models/silero_vad.onnx
src/open_llm_vtuber/llm/user_credentials.json
src/open_llm_vtuber/tts/asset
src/open_llm_vtuber/tts/config
submodules/MeloTTS
tmp/
.venv
# Virtual environment
.vscode/venv/
vtuber_server.log
venv/
